.app {
	color: #32CD32;
	font-size: 140%;
}

a {
	color: #32CD32;
	font-size: 140%;
}

.city {
	font-weight: 200;
}

.city:hover {
	cursor: pointer;
	font-weight: 400;
}

img {
	width: 60%;
	height: auto;
}

img:hover {
	opacity: 0.65;
}
